:root {
  /** Our fonts and colors */
  --font-family: dmsans, sans-serif;
  --theme-color: #5BBB7B;
  --second-color: #1F4B3F;
  --text-color: #6B7177;
  --dashboard-bg-color: #F0EFEC;
  --link-color: #222222;
  --link_hover_color: #5BBB7B;
  --heading-color: #222222;
  --talent-section:#FFEDE8;
  --theme-hover-color: #43a062;
  --second-hover-color: #222222;
  --main-font: 'DM Sans';
  --main-font-size: 15px;
  --main-font-weight: 400;
  --heading-font: 'DM Sans';
  --heading-font-weight: 700;
  --theme-color-005: rgba(91, 187, 123, 0.05);
  --theme-color-007: rgba(91, 187, 123, 0.07);
  --theme-color-010: rgba(91, 187, 123, 0.1);
  --theme-color-015: rgba(91, 187, 123, 0.15);
  --theme-color-020: rgba(91, 187, 123, 0.2);
  --second-color-050: rgba(31, 75, 63, 0.5);
  /** Our fonts and colors */
}

